.kannan{
    a{
        text-decoration: none;
    }
}

.Project{
    a{
        text-decoration: none;
    }

    .transform_img:hover .transform_code{
    visibility:visible !important;
	transform: translatey(0px) !important;
	transition:all .7s ease-in!important;
    }
}
   
